/* reset */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* font */
body {
    font-family: 'Gluten', cursive;
}
.titolo {
    padding: 20px 0px;
    text-transform: uppercase;
    text-align: center;
}
.contenitore {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.contenitore-immagine {
    position: relative;
    width: 650px;
    margin: 0px 30px;
}
.contenitore-immagine img {
    object-fit: cover;
    /* object-position: center; */
    height: 350px;
    border: 1px solid black;
    width: 100%;
}
.pallini {
    display: block;
    text-align: center;
    width: 150px;
    position: absolute;
    /* border: 1px solid blue; */
    color: black;
    left: calc(50% - 75px);
    bottom: 15px;
}
.attivo {
    color: white;
}

